body {
    margin: 0;
    background-color: #FFFFFF;
}
header {
    background: #D8D8D8;
    height: 100px;
    width: 100%;
}
#blue {
    background: #50E3C2;
    height: 100px;
    width: 100%;
    fle
}
#teal {
    background: #B8E986;
    height: 17%;
    width: 100%;
}
#yellow {
    background: #B8E986;
    height: 17%;
    width: 100%;
}
#gold {
    background: #F8E71C;
    height: 17%;
    width: 100%;
}